resources/mpeg7-udp-2004.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ********************************************************************************

    This XML document was originally developed in the course of development of the ISO/IEC
    15938 standard (MPEG-7). This XML document contains either a part of the MPEG-7 schema
    implementation for one or more MPEG-7 tools as specified by the MPEG-7 Requirements or
    MPEG-7 description examples conformant to the MPEG-7 schema.

    ISO/IEC gives users of MPEG-7 free license to this XML document or modifications thereof
    for use in hardware or software products claiming conformance to MPEG-7.

    Those intending to use this XML document in hardware or software products are advised that
    its use may infringe existing patents. The original developers of this XML document and his/her
    company, the subsequent editors and their companies, and ISO/IEC have no liability for use of
    this XML document or modifications thereof in an implementation.

    Copyright is not released for non MPEG-7 conforming products. The organizations who
    contributed to this XML document retain the full right to use the code for their own purpose,
    assign or donate their contribution to a third party and inhibit third parties from using their
    contribution for non MPEG-7 conforming products.

    Copyright (c) 1999-2004 ISO/IEC. 

    This XML document is provided for informative purposes only. If any parts of this XML
    document contradict the normative part of the corresponding standard document then the
    normative part should be used as the definitive specification.

    This notice must be included in all copies or derivative works.
************************************************************************************ -->
<!-- ################################################################################ -->
<!-- ISO/IEC 15938 Information Technology - Multimedia Content Description Interface                                -->
<!-- Part 9: MPEG-7 Profiles and Levels (ISO/IEC 15938-9)                                                                           -->
<!-- User Description Profile                                                                                                                           -->
<!--                                                                                                                                                                 -->
<!-- Last updated:  2 July 2004                                                                                                                     -->
<!-- Peter van Beek, Sharp Laboratories of America, pvanbeek@sharplabs.com                                       -->
<!-- ################################################################################ -->

<schema targetNamespace="urn:mpeg:mpeg7:schema:2001" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:mpeg7="urn:mpeg:mpeg7:schema:2001" xmlns:xml="http://www.w3.org/XML/1998/namespace" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<annotation>
		<documentation>
			This document contains MPEG-7 tools defined in ISO/IEC 15938 that are in the User Description profile
		 </documentation>
	</annotation>
	
	<!-- ########################################################### -->
	<!--  Import xml tools not defined by MPEG-7                                                       -->
	<!-- ########################################################### -->
	
	<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml-1998.xsd"/>
	
	<!-- ########################################################### -->
	<!--  Tools from ISO/IEC 15938-2 (DDL)                                                               -->
	<!-- ########################################################### -->
	
	<annotation>
		<documentation>
			This section contains tools defined in ISO/IEC 15938-2 (DDL)
		</documentation>
	</annotation>
	
	<!-- definition of listOfPositiveIntegerForDim datatype (DIA only) -->
	<simpleType name="listOfPositiveIntegerForDim">
		<list itemType="positiveInteger"/>
	</simpleType>
	
	<!-- definition of mpeg7:dim attribute (DIA only) -->
	<attribute name="dim">
		<simpleType>
			<restriction base="mpeg7:listOfPositiveIntegerForDim">
				<minLength value="1"/>
			</restriction>
		</simpleType>
	</attribute>
	
	<!-- definition of basicTimePoint dataype -->
	<simpleType name="basicTimePointType">
		<restriction base="string">
			<pattern value="\-?(\d+(\-\d{2}(\-\d{2})?)?)?(T\d{2}(:\d{2}(:\d{2}(:\d+(\.\d{2})?)?)?)?)?(F\d+)?((\-|\+)\d{2}:\d{2})?"/>
		</restriction>
	</simpleType>
	
	<!-- definition of basicDuration dataype -->
	<simpleType name="basicDurationType">
		<restriction base="string">
			<pattern value="\-?P(\d+D)?(T(\d+H)?(\d+M)?(\d+S)?(\d+N)?(\d{2}f)?)?(\d+F)?((\-|\+)\d{2}:\d{2}Z)?"/>
		</restriction>
	</simpleType>
	
	<!-- ########################################################### -->
	<!--  Tools from ISO/IEC 15938-5 (MDS)                                                               -->
	<!-- ########################################################### -->
	
	<annotation>
		<documentation>
			This section contains tools defined in ISO/IEC 15938-5 (MDS)
		</documentation>
	</annotation>
	
	<!-- ########################################################### -->
	<!--  Tools from ISO/IEC 15938-5 (MDS) Clause 4                                                -->
	<!-- ########################################################### -->
	
	<!-- Definition of MPEG-7 base type -->
	<complexType name="Mpeg7BaseType" abstract="true">
		<complexContent>
			<restriction base="anyType"/>
		</complexContent>
	</complexType>
	
	<!-- Definition of generic D -->
	<complexType name="DType" abstract="true">
		<complexContent>
			<extension base="mpeg7:Mpeg7BaseType"/>
		</complexContent>
	</complexType>
	
	<!-- Definition of generic DS -->
	<complexType name="DSType" abstract="true">
		<complexContent>
			<extension base="mpeg7:Mpeg7BaseType">
				<sequence>
					<element name="Header" type="mpeg7:HeaderType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="id" type="ID" use="optional"/>
				<attributeGroup ref="mpeg7:timePropertyGrp"/>
				<attributeGroup ref="mpeg7:mediaTimePropertyGrp"/>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of Header datatype -->
	<complexType name="HeaderType" abstract="true">
		<complexContent>
			<extension base="mpeg7:Mpeg7BaseType">
				<attribute name="id" type="ID" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of Mpeg7Type datatype -->
	<complexType name="Mpeg7Type" abstract="true">
		<sequence>
			<!-- DescriptionProfile element added per ISO/IEC 15938 Part 5 Cor1 - July 2004 -->
			<element name="DescriptionProfile" type="mpeg7:DescriptionProfileType" minOccurs="0"/>
			<!-- DescriptionMetadata element excluded
			<element name="DescriptionMetadata" type="mpeg7:DescriptionMetadataType" minOccurs="0"/>
			-->
		</sequence>
		<attribute ref="xml:langt" use="optional"/>
		<attributeGroup ref="mpeg7:timePropertyGrp"/>
		<attributeGroup ref="mpeg7:mediaTimePropertyGrp"/>
	</complexType>
	
	<!-- DescriptionProfileType datatype added per ISO/IEC 15938 Part 5 Cor1 - July 2004 -->
	<!-- Definition of DescriptionProfileType datatype -->
	<complexType name="DescriptionProfileType">
		<attribute name="profileAndLevelIndication" use="required">
			<simpleType>
				<list itemType="anyURI"/>
			</simpleType>
		</attribute>
	</complexType>

	<!-- Definition of Mpeg7 Element -->
	<element name="Mpeg7">
		<complexType>
			<complexContent>
				<extension base="mpeg7:Mpeg7Type">
					<choice>
						<element name="DescriptionUnit" type="mpeg7:Mpeg7BaseType"/>
						<element name="Description" type="mpeg7:CompleteDescriptionType" minOccurs="1" maxOccurs="unbounded"/>
					</choice>
				</extension>
			</complexContent>
		</complexType>
	</element>
	
	<!-- Definition of CompleteDescription Top-level Type -->
	<complexType name="CompleteDescriptionType" abstract="true">
		<sequence>
			<!-- DescriptionMetadata element excluded
			<element name="DescriptionMetadata" type="mpeg7:DescriptionMetadataType" minOccurs="0"/>
			-->
			<!-- Relationships element excluded 
			<element name="Relationships" type="mpeg7:GraphType" minOccurs="0" maxOccurs="unbounded"/>
			-->
			<!-- OrderingKey element excluded
			<element name="OrderingKey" type="mpeg7:OrderingKeyType" minOccurs="0" maxOccurs="unbounded"/>
			-->
		</sequence>
	</complexType>
	
	<!-- Definition of ContentManagement Top-level Type -->
	<complexType name="ContentManagementType" abstract="true">
		<complexContent>
			<extension base="mpeg7:CompleteDescriptionType"/>
		</complexContent>
	</complexType>
	
	<!-- Definition of UserDescription Top-level Type -->
	<complexType name="UserDescriptionType">
		<complexContent>
			<extension base="mpeg7:ContentManagementType">
				<sequence>
					<element name="User" type="mpeg7:AgentType" minOccurs="0"/>
					<element name="UserPreferences" type="mpeg7:UserPreferencesType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="UsageHistory" type="mpeg7:UsageHistoryType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of ClassificationSchemeDescription Top-level Type -->
	<complexType name="ClassificationSchemeDescriptionType">
		<complexContent>
			<extension base="mpeg7:ContentManagementType">
				<choice>
					<element name="ClassificationScheme" type="mpeg7:ClassificationSchemeType" minOccurs="1" maxOccurs="unbounded"/>
					<!-- ClassificationSchemeBase element excluded
					<element name="ClassificationSchemeBase" type="mpeg7:ClassificationSchemeBaseType" minOccurs="1" maxOccurs="unbounded"/>
					-->
				</choice>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- ########################################################### -->
	<!--  Tools from ISO/IEC 15938-5 (MDS) Clause 5                                                -->
	<!-- ########################################################### -->
	
	<!-- Definition of unsigned8 datatype (DIA only) -->
	<simpleType name="unsigned8">
		<restriction base="nonNegativeInteger">
			<minInclusive value="0"/>
			<maxInclusive value="255"/>
		</restriction>
	</simpleType>
	
	<!-- Definition of unsigned12 datatype (DIA only) -->
	<simpleType name="unsigned12">
		<restriction base="nonNegativeInteger">
			<minInclusive value="0"/>
			<maxInclusive value="4095"/>
		</restriction>
	</simpleType>
	
	<!-- Definition of zeroToOne datatype (DIA only) -->
	<simpleType name="zeroToOneType">
		<restriction base="float">
			<minInclusive value="0.0"/>
			<maxInclusive value="1.0"/>
		</restriction>
	</simpleType>
	
	<!-- Definition of nonNegativeReal datatype -->
	<simpleType name="nonNegativeReal">
		<restriction base="double">
			<minInclusive value="0.0"/>
		</restriction>
	</simpleType>
	
	<!-- Definition of integerVector datatype (DIA only) -->
	<simpleType name="integerVector">
		<list itemType="integer"/>
	</simpleType>
	
	<!-- Definition of floatVector datatype (DIA only) -->
	<simpleType name="floatVector">
		<list itemType="float"/>
	</simpleType>
	
	<!-- Definition of probabilityVector datatype (DIA only) -->
	<simpleType name="probabilityVector">
		<list>
			<simpleType>
				<restriction base="float">
					<minInclusive value="0.0"/>
					<maxInclusive value="1.0"/>
				</restriction>
			</simpleType>
		</list>
	</simpleType>
	
	<!-- Definition of characterSetCode datatype (DIA only) -->
	<simpleType name="characterSetCode">
		<restriction base="string"/>
	</simpleType>
	
	<!-- Definition of mimeType datatype -->
	<simpleType name="mimeType">
		<restriction base="string">
			<whiteSpace value="collapse"/>
			<pattern value='[&#x21;-&#x7f;-[\(\)&lt;&gt;@,;:\\"/\[\]\?=]]+/[&#x21;-&#x7f;-[\(\)&lt;&gt;@,;:\\"/\[\]\?=]]+'/>
		</restriction>
	</simpleType>
	
	<!-- Definition of countryCode datatype -->
	<simpleType name="countryCode">
		<restriction base="string">
			<whiteSpace value="collapse"/>
			<pattern value="[a-zA-Z]{2}"/>
		</restriction>
	</simpleType>
	
	<!-- Definition of regionCode datatype -->
	<simpleType name="regionCode">
		<restriction base="string">
			<whiteSpace value="collapse"/>
			<pattern value="[a-zA-Z]{2}(-[a-zA-Z0-9]{1,3})?"/>
		</restriction>
	</simpleType>
	
	<!-- ########################################################### -->
	<!--  Tools from ISO/IEC 15938-5 (MDS) Clause 6                                                -->
	<!-- ########################################################### -->
	
	<!-- Definition of referenceGrp attribute group -->
	<attributeGroup name="referenceGrp">
		<attribute name="idref" type="IDREF" use="optional"/>
		<attribute name="xpath" type="mpeg7:xPathRefType" use="optional"/>
		<attribute name="href" type="anyURI" use="optional"/>
	</attributeGroup>
	
	<!-- Definition of Reference datatype -->
	<complexType name="ReferenceType">
		<attributeGroup ref="mpeg7:referenceGrp"/>
	</complexType>
	
	<!-- Definition of xPath datatype -->
	<simpleType name="xPathType">
		<restriction base="token"/>
	</simpleType>
	
	<!-- Definition of xPathRef datatype -->
	<simpleType name="xPathRefType">
		<restriction base="mpeg7:xPathType">
			<pattern value="/?((((child::)?((\i\c*:)?(\i\c*)(\[\d+\])?))|\.|(\.\.))/)*((((child::)?((\i\c*:)?(\i\c*)(\[\d+\])?))|\.)|((attribute::|@)((\i\c*:)?(\i\c*|\*))))"/>
		</restriction>
	</simpleType>
	
	<!-- Definition of xPathSelector datatype -->
	<simpleType name="xPathSelectorType">
		<restriction base="mpeg7:xPathType">
			<pattern value="(/|((//|/)?(((child::)?((\i\c*:)?(\i\c*|\*)))|\.|\.\.)((//|/)(((child::)?((\i\c*:)?(\i\c*|\*)))|\.|\.\.))*))(\|/|((//|/)?(((child::)?((\i\c*:)?(\i\c*|\*)))|\.|\.\.)((//|/)(((child::)?((\i\c*:)?(\i\c*|\*)))|\.|\.\.))*))*"/>
		</restriction>
	</simpleType>
	
	<!-- Definition of xPathAbsoluteSelector datatype -->
	<simpleType name="xPathAbsoluteSelectorType">
		<restriction base="mpeg7:xPathSelectorType">
			<pattern value="(/|((//|/)(((child::)?((\i\c*:)?(\i\c*|\*)))|\.))*)(\|(/|((//|/)(((child::)?((\i\c*:)?(\i\c*|\*)))|\.))*))*"/>
		</restriction>
	</simpleType>
	
	<!-- Definition of UniqueID datatype -->
	<complexType name="UniqueIDType">
		<simpleContent>
			<extension base="string">
				<attribute name="type" type="NMTOKEN" use="optional" default="URI"/>
				<attribute name="organization" type="NMTOKEN" use="optional"/>
				<attribute name="authority" type="NMTOKEN" use="optional"/>
				<attribute name="encoding" use="optional" default="text">
					<simpleType>
						<restriction base="string">
							<enumeration value="text"/>
							<enumeration value="base16"/>
							<enumeration value="base64"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	
	<!-- Definition of Time datatype -->
	<complexType name="TimeType">
		<sequence>
			<choice>
				<element name="TimePoint" type="mpeg7:timePointType"/>
				<element name="RelTimePoint" type="mpeg7:RelTimePointType"/>
				<element name="RelIncrTimePoint" type="mpeg7:RelIncrTimePointType"/>
			</choice>
			<choice minOccurs="0">
				<element name="Duration" type="mpeg7:durationType"/>
				<element name="IncrDuration" type="mpeg7:IncrDurationType"/>
			</choice>
		</sequence>
	</complexType>
	
	<!-- Definition of timePoint datatype -->
	<simpleType name="timePointType">
		<restriction base="mpeg7:basicTimePointType">
			<pattern value="(\-?\d+(\-\d{2}(\-\d{2})?)?)?(T\d{2}(:\d{2}(:\d{2}(:\d+)?)?)?)?(F\d+)?((\-|\+)\d{2}:\d{2})?"/>
		</restriction>
	</simpleType>
	
	<!-- Definition of duration datatype -->
	<simpleType name="durationType">
		<restriction base="mpeg7:basicDurationType">
			<pattern value="\-?P(\d+D)?(T(\d+H)?(\d+M)?(\d+S)?(\d+N)?)?(\d+F)?((\-|\+)\d{2}:\d{2}Z)?"/>
		</restriction>
	</simpleType>
	
	<!-- Definition of IncrDuration datatype -->
	<complexType name="IncrDurationType">
		<simpleContent>
			<extension base="integer">
				<attribute name="timeUnit" type="mpeg7:durationType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	
	<!-- Definition of timeOffsetType datatype -->
	<simpleType name="timeOffsetType">
		<restriction base="mpeg7:basicDurationType">
			<pattern value="\-?P(\d+D)?(T(\d+H)?(\d+M)?(\d+S)?(\d+N)?)?(\d+F)?((\-|\+)\d{2}:\d{2}Z)?"/>
		</restriction>
	</simpleType>
	
	<!-- Definition of RelTimePointType datatype -->
	<complexType name="RelTimePointType">
		<simpleContent>
			<extension base="mpeg7:timeOffsetType">
				<attribute name="timeBase" type="mpeg7:xPathRefType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	
	<!-- Definition of RelIncrTimePointType datatype -->
	<complexType name="RelIncrTimePointType">
		<simpleContent>
			<extension base="integer">
				<attribute name="timeUnit" type="mpeg7:durationType" use="optional"/>
				<attribute name="timeBase" type="mpeg7:xPathRefType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	
	<!-- Definition of timePropertyGrp attribute group -->
	<attributeGroup name="timePropertyGrp">
		<attribute name="timeBase" type="mpeg7:xPathRefType" use="optional"/>
		<attribute name="timeUnit" type="mpeg7:durationType" use="optional"/>
	</attributeGroup>
	
	<!-- Definition of MediaTime datatype -->
	<complexType name="MediaTimeType">
		<sequence>
			<choice>
				<element name="MediaTimePoint" type="mpeg7:mediaTimePointType"/>
				<element name="MediaRelTimePoint" type="mpeg7:MediaRelTimePointType"/>
				<element name="MediaRelIncrTimePoint" type="mpeg7:MediaRelIncrTimePointType"/>
			</choice>
			<choice minOccurs="0">
				<element name="MediaDuration" type="mpeg7:mediaDurationType"/>
				<element name="MediaIncrDuration" type="mpeg7:MediaIncrDurationType"/>
			</choice>
		</sequence>
	</complexType>
	
	<!-- Definition of mediaTimePoint datatype -->
	<simpleType name="mediaTimePointType">
		<restriction base="mpeg7:basicTimePointType">
			<pattern value="(\-?\d+(\-\d{2}(\-\d{2})?)?)?(T\d{2}(:\d{2}(:\d{2}(:\d+)?)?)?)?(F\d+)?"/>
		</restriction>
	</simpleType>
	
	<!-- Definition of mediaDuration datatype -->
	<simpleType name="mediaDurationType">
		<restriction base="mpeg7:basicDurationType">
			<pattern value="\-?P(\d+D)?(T(\d+H)?(\d+M)?(\d+S)?(\d+N)?)?(\d+F)?"/>
		</restriction>
	</simpleType>
	
	<!-- Definition of MediaIncrDuration datatype -->
	<complexType name="MediaIncrDurationType">
		<simpleContent>
			<extension base="integer">
				<attribute name="mediaTimeUnit" type="mpeg7:mediaDurationType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	
	<!-- Definition of mediaTimeOffset datatype -->
	<simpleType name="mediaTimeOffsetType">
		<restriction base="mpeg7:basicDurationType">
			<pattern value="\-?P(\d+D)?(T(\d+H)?(\d+M)?(\d+S)?(\d+N)?)?(\d+F)?"/>
		</restriction>
	</simpleType>
	
	<!-- Definition of MediaRelTimePoint datatype -->
	<complexType name="MediaRelTimePointType">
		<simpleContent>
			<extension base="mpeg7:mediaTimeOffsetType">
				<attribute name="mediaTimeBase" type="mpeg7:xPathRefType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	
	<!-- Definition of MediaRelIncrTimePoint datatype -->
	<complexType name="MediaRelIncrTimePointType">
		<simpleContent>
			<extension base="integer">
				<attribute name="mediaTimeUnit" type="mpeg7:mediaDurationType" use="optional"/>
				<attribute name="mediaTimeBase" type="mpeg7:xPathRefType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	
	<!-- Definition of mediaTimePropertyGrp attribute group -->
	<attributeGroup name="mediaTimePropertyGrp">
		<attribute name="mediaTimeBase" type="mpeg7:xPathRefType" use="optional"/>
		<attribute name="mediaTimeUnit" type="mpeg7:mediaDurationType" use="optional"/>
	</attributeGroup>
	
	<!-- Definition of MediaLocator datatype -->
	<complexType name="MediaLocatorType">
		<sequence>
			<choice minOccurs="0">
				<element name="MediaUri" type="anyURI"/>
				<element name="InlineMedia" type="mpeg7:InlineMediaType"/>
			</choice>
			<element name="StreamID" type="nonNegativeInteger" minOccurs="0"/>
		</sequence>
	</complexType>
	
	<!-- Definition of InlineMedia datatype -->
	<complexType name="InlineMediaType">
		<choice>
			<element name="MediaData16" type="hexBinary"/>
			<element name="MediaData64" type="base64Binary"/>
		</choice>
		<attribute name="type" type="mpeg7:mimeType" use="required"/>
	</complexType>
	
	<!-- Definition of TemporalSegmentLocator datatype -->
	<complexType name="TemporalSegmentLocatorType">
		<complexContent>
			<extension base="mpeg7:MediaLocatorType">
				<choice minOccurs="0">
					<element name="MediaTime" type="mpeg7:MediaTimeType"/>
					<element name="BytePosition">
						<complexType>
							<attribute name="offset" type="nonNegativeInteger" use="required"/>
							<attribute name="length" type="positiveInteger" use="optional"/>
						</complexType>
					</element>
				</choice>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of ImageLocator datatype -->
	<complexType name="ImageLocatorType">
		<complexContent>
			<extension base="mpeg7:MediaLocatorType">
				<choice minOccurs="0">
					<element name="MediaTimePoint" type="mpeg7:mediaTimePointType"/>
					<element name="MediaRelTimePoint" type="mpeg7:MediaRelTimePointType"/>
					<element name="MediaRelIncrTimePoint" type="mpeg7:MediaRelIncrTimePointType"/>
					<element name="BytePosition">
						<complexType>
							<attribute name="offset" type="nonNegativeInteger" use="required"/>
							<attribute name="length" type="positiveInteger" use="optional"/>
						</complexType>
					</element>
				</choice>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- ########################################################### -->
	<!--  Tools from ISO/IEC 15938-5 (MDS) Clause 7                                                -->
	<!-- ########################################################### -->
	
	<!-- Definition of TextualBase datatype -->
	<complexType name="TextualBaseType" abstract="true">
		<simpleContent>
			<extension base="string">
				<attribute ref="xml:langt" use="optional"/>
				<!-- phoneticTranscription attribute excluded -->
				<!--
				<attribute name="phoneticTranscription" use="optional">
					<simpleType>
						<list itemType="mpeg7:PhoneType"/>
					</simpleType>
				</attribute>
				-->
				<!-- phoneticAlphabet attribute excluded -->
				<!--
				<attribute name="phoneticAlphabet" type="mpeg7:phoneticAlphabetType" use="optional" default="sampa"/>
				-->
			</extension>
		</simpleContent>
	</complexType>
	
	<!-- Definition of Textual datatype -->
	<complexType name="TextualType">
		<simpleContent>
			<extension base="mpeg7:TextualBaseType"/>
		</simpleContent>
	</complexType>
	
	<!-- Definition of ClassificationSchemeBase DS  -->
	<complexType name="ClassificationSchemeBaseType" abstract="true">
		<complexContent>
			<extension base="mpeg7:DSType">
				<sequence>
					<element name="Import" type="mpeg7:ReferenceType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="uri" type="anyURI" use="required"/>
				<attribute name="domain" use="optional">
					<simpleType>
						<list itemType="mpeg7:xPathAbsoluteSelectorType"/>
					</simpleType>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of ClassificationScheme DS  -->
	<complexType name="ClassificationSchemeType">
		<complexContent>
			<extension base="mpeg7:ClassificationSchemeBaseType">
				<sequence>
					<element name="Term" type="mpeg7:TermDefinitionType" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of TermDefinitionBase DS  -->
	<complexType name="TermDefinitionBaseType" abstract="true">
		<complexContent>
			<extension base="mpeg7:DSType">
				<sequence>
					<element name="Name" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<simpleContent>
								<extension base="mpeg7:TextualType">
									<attribute name="preferred" type="boolean" use="optional"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="Definition" type="mpeg7:TextualType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="termID" type="NMTOKEN"/>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of TermDefinition DS  -->
	<complexType name="TermDefinitionType">
		<complexContent>
			<extension base="mpeg7:TermDefinitionBaseType">
				<sequence>
					<element name="Term" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:TermDefinitionType">
									<attribute name="relation" type="mpeg7:termRelationQualifierType" use="optional" default="NT"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of termRelationQualifier datatype  -->
	<simpleType name="termRelationQualifierType">
		<union>
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="NT"/>
					<enumeration value="BT"/>
					<enumeration value="RT"/>
					<enumeration value="US"/>
					<enumeration value="UF"/>
				</restriction>
			</simpleType>
			<simpleType>
				<restriction base="mpeg7:termReferenceType"/>
			</simpleType>
		</union>
	</simpleType>
	
	<!-- Definition of InlineTermDefinition datatype  -->
	<complexType name="InlineTermDefinitionType" abstract="true">
		<sequence>
			<element name="Name" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="mpeg7:TextualType">
							<attribute name="preferred" type="boolean" use="optional"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="Definition" type="mpeg7:TextualType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Term element excluded
			<element name="Term" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<complexContent>
						<extension base="mpeg7:InlineTermDefinitionType">
							<attribute name="relation" type="mpeg7:termRelationQualifierType" use="optional" default="NT"/>
							<attribute name="termID" type="NMTOKEN"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
			-->
		</sequence>
	</complexType>
	
	<!-- Definition of TermUse datatype  -->
	<complexType name="TermUseType">
		<complexContent>
			<extension base="mpeg7:InlineTermDefinitionType">
				<attribute name="href" type="mpeg7:termReferenceType" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of ControlledTermUse datatype  -->
	<complexType name="ControlledTermUseType">
		<complexContent>
			<extension base="mpeg7:InlineTermDefinitionType">
				<attribute name="href" type="mpeg7:termReferenceType" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of termReference datatype  -->
	<simpleType name="termReferenceType">
		<union>
			<simpleType>
				<restriction base="NMTOKEN">
					<whiteSpace value="collapse"/>
					<pattern value=":[^:]+:[^:]+"/>
				</restriction>
			</simpleType>
			<simpleType>
				<restriction base="anyURI"/>
			</simpleType>
		</union>
	</simpleType>
	
	<!-- Definition of ClassificationSchemeAlias datatype  -->
	<complexType name="ClassificationSchemeAliasType">
		<complexContent>
			<extension base="mpeg7:HeaderType">
				<attribute name="alias" type="NMTOKEN" use="required"/>
				<attribute name="href" type="anyURI" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of Agent DS  -->
	<complexType name="AgentType" abstract="true">
		<complexContent>
			<extension base="mpeg7:DSType">
				<sequence>
					<element name="Icon" type="mpeg7:MediaLocatorType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of Person DS  -->
	<complexType name="PersonType">
		<complexContent>
			<extension base="mpeg7:AgentType">
				<sequence>
					<choice minOccurs="1" maxOccurs="unbounded">
						<element name="Name" type="mpeg7:PersonNameType"/>
						<element name="NameTerm" type="mpeg7:ControlledTermUseType"/>
					</choice>
					<element name="Affiliation" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<choice>
								<element name="Organization" type="mpeg7:OrganizationType"/>
								<element name="OrganizationRef" type="mpeg7:ReferenceType"/>
								<element name="PersonGroup" type="mpeg7:PersonGroupType"/>
								<element name="PersonGroupRef" type="mpeg7:ReferenceType"/>
							</choice>
						</complexType>
					</element>
					<element name="Citizenship" type="mpeg7:countryCode" minOccurs="0" maxOccurs="unbounded"/>
					<choice minOccurs="0">
						<element name="Address" type="mpeg7:PlaceType"/>
						<element name="AddressRef" type="mpeg7:ReferenceType"/>
					</choice>
					<element name="ElectronicAddress" type="mpeg7:ElectronicAddressType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of PersonGroup DS  -->
	<complexType name="PersonGroupType">
		<complexContent>
			<extension base="mpeg7:AgentType">
				<sequence>
					<element name="Name" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<simpleContent>
								<extension base="mpeg7:TextualType">
									<attribute name="type" use="optional">
										<simpleType>
											<restriction base="NMTOKEN">
												<enumeration value="former"/>
												<enumeration value="variant"/>
												<enumeration value="main"/>
											</restriction>
										</simpleType>
									</attribute>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="NameTerm" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:ControlledTermUseType">
									<attribute name="type" use="optional">
										<simpleType>
											<restriction base="NMTOKEN">
												<enumeration value="former"/>
												<enumeration value="variant"/>
												<enumeration value="main"/>
											</restriction>
										</simpleType>
									</attribute>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="Kind" type="mpeg7:TermUseType" minOccurs="0"/>
					<choice minOccurs="0" maxOccurs="unbounded">
						<element name="Member" type="mpeg7:PersonType"/>
						<element name="MemberRef" type="mpeg7:ReferenceType"/>
					</choice>
					<choice minOccurs="0">
						<element name="Jurisdiction" type="mpeg7:PlaceType"/>
						<element name="JurisdictionRef" type="mpeg7:ReferenceType"/>
					</choice>
					<choice minOccurs="0">
						<element name="Address" type="mpeg7:PlaceType"/>
						<element name="AddressRef" type="mpeg7:ReferenceType"/>
					</choice>
					<element name="ElectronicAddress" type="mpeg7:ElectronicAddressType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of Organization DS  -->
	<complexType name="OrganizationType">
		<complexContent>
			<extension base="mpeg7:AgentType">
				<sequence>
					<element name="Name" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<simpleContent>
								<extension base="mpeg7:TextualType">
									<attribute name="type" use="optional">
										<simpleType>
											<restriction base="NMTOKEN">
												<enumeration value="former"/>
												<enumeration value="variant"/>
												<enumeration value="main"/>
											</restriction>
										</simpleType>
									</attribute>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="NameTerm" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:ControlledTermUseType">
									<attribute name="type" use="optional">
										<simpleType>
											<restriction base="NMTOKEN">
												<enumeration value="former"/>
												<enumeration value="variant"/>
												<enumeration value="main"/>
											</restriction>
										</simpleType>
									</attribute>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="Kind" type="mpeg7:TermUseType" minOccurs="0"/>
					<choice minOccurs="0" maxOccurs="unbounded">
						<element name="Contact" type="mpeg7:AgentType"/>
						<element name="ContactRef" type="mpeg7:ReferenceType"/>
					</choice>
					<choice minOccurs="0">
						<element name="Jurisdiction" type="mpeg7:PlaceType"/>
						<element name="JurisdictionRef" type="mpeg7:ReferenceType"/>
					</choice>
					<choice minOccurs="0">
						<element name="Address" type="mpeg7:PlaceType"/>
						<element name="AddressRef" type="mpeg7:ReferenceType"/>
					</choice>
					<element name="ElectronicAddress" type="mpeg7:ElectronicAddressType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of PersonaName datatype  -->
	<complexType name="PersonNameType">
		<sequence>
			<choice minOccurs="1" maxOccurs="unbounded">
				<element name="GivenName" type="mpeg7:NameComponentType"/>
				<element name="FamilyName" type="mpeg7:NameComponentType" minOccurs="0"/>
				<element name="Title" type="mpeg7:NameComponentType" minOccurs="0"/>
				<element name="Numeration" type="string" minOccurs="0"/>
			</choice>
		</sequence>
		<attribute name="dateFrom" type="mpeg7:timePointType" use="optional"/>
		<attribute name="dateTo" type="mpeg7:timePointType" use="optional"/>
		<attribute name="type" use="optional">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="former"/>
					<enumeration value="variant"/>
					<enumeration value="main"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute ref="xml:langt" use="optional"/>
	</complexType>
	
	<!-- Definition of NameComponent datatype -->
	<complexType name="NameComponentType">
		<simpleContent>
			<extension base="mpeg7:TextualBaseType">
				<attribute name="initial" type="string" use="optional"/>
				<attribute name="abbrev" type="string" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	
	<!-- Definition of ElectronicAddress datatype -->
	<complexType name="ElectronicAddressType">
		<sequence>
			<element name="Telephone" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Fax" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Email" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Url" type="anyURI" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
	<!-- Definition of Place DS -->
	<complexType name="PlaceType">
		<complexContent>
			<extension base="mpeg7:DSType">
				<sequence>
					<element name="Name" type="mpeg7:TextualType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="NameTerm" type="mpeg7:ControlledTermUseType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="Role" type="mpeg7:TermUseType" minOccurs="0"/>
					<element name="GeographicPosition" minOccurs="0">
						<complexType>
							<sequence>
								<element name="Point" type="mpeg7:GeographicPointType"/>
							</sequence>
							<attribute name="datum" type="string" use="optional"/>
						</complexType>
					</element>
					<!-- AstronomicalBody element excluded
					<element name="AstronomicalBody" type="mpeg7:TermUseType" minOccurs="0" maxOccurs="unbounded"/>
					-->
					<element name="Region" type="mpeg7:regionCode" minOccurs="0" maxOccurs="unbounded"/>
					<element name="AdministrativeUnit" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<simpleContent>
								<extension base="string">
									<attribute name="type" type="string" use="optional"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="PostalAddress" minOccurs="0">
						<complexType>
							<sequence>
								<element name="AddressLine" type="mpeg7:TextualType" minOccurs="1" maxOccurs="unbounded"/>
								<element name="PostingIdentifier" type="mpeg7:TextualType" minOccurs="0"/>
							</sequence>
							<attribute ref="xml:langt" use="optional"/>
						</complexType>
					</element>
					<element name="InternalCoordinates" type="string" minOccurs="0"/>
				</sequence>
				<attribute ref="xml:langt" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of GeographicPoint datatype -->
	<complexType name="GeographicPointType">
		<attribute name="longitude" use="required">
			<simpleType>
				<restriction base="double">
					<minInclusive value="-180.0"/>
					<maxInclusive value="180.0"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="latitude" use="required">
			<simpleType>
				<restriction base="double">
					<minInclusive value="-90.0"/>
					<maxInclusive value="90.0"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="altitude" type="double" use="optional"/>
	</complexType>
	
	<!-- Definition of MediaFormat D -->
	<complexType name="MediaFormatType">
		<complexContent>
			<extension base="mpeg7:DType">
				<sequence>
					<element name="Content" type="mpeg7:ControlledTermUseType"/>
					<element name="Medium" type="mpeg7:ControlledTermUseType" minOccurs="0"/>
					<element name="FileFormat" type="mpeg7:ControlledTermUseType" minOccurs="0"/>
					<element name="FileSize" type="nonNegativeInteger" minOccurs="0"/>
					<element name="System" type="mpeg7:ControlledTermUseType" minOccurs="0"/>
					<!-- Bandwidth element excluded 
					<element name="Bandwidth" type="float" minOccurs="0"/>
					-->
					<element name="BitRate" minOccurs="0">
						<complexType>
							<simpleContent>
								<extension base="nonNegativeInteger">
									<attribute name="variable" type="boolean" use="optional" default="false"/>
									<attribute name="minimum" type="nonNegativeInteger" use="optional"/>
									<attribute name="average" type="nonNegativeInteger" use="optional"/>
									<attribute name="maximum" type="nonNegativeInteger" use="optional"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<!-- TargetChannelBitRate element excluded
					<element name="TargetChannelBitRate" type="nonNegativeInteger" minOccurs="0"/>
					-->
					<!-- ScalableCoding element excluded
					<element name="ScalableCoding" minOccurs="0">
						<simpleType>
							<union>
								<simpleType>
									<restriction base="NMTOKEN">
										<enumeration value="spatial"/>
										<enumeration value="temporal"/>
										<enumeration value="snr"/>
										<enumeration value="fgs"/>
									</restriction>
								</simpleType>
								<simpleType>
									<restriction base="mpeg7:termReferenceType"/>
								</simpleType>
							</union>
						</simpleType>
					</element>
					-->
					<element name="VisualCoding" minOccurs="0">
						<complexType>
							<sequence>
								<element name="Format" minOccurs="0">
									<complexType>
										<complexContent>
											<extension base="mpeg7:ControlledTermUseType">
												<attribute name="colorDomain" use="optional" default="color">
													<simpleType>
														<union>
															<simpleType>
																<restriction base="NMTOKEN">
																	<enumeration value="binary"/>
																	<enumeration value="color"/>
																	<enumeration value="graylevel"/>
																	<enumeration value="colorized"/>
																</restriction>
															</simpleType>
															<simpleType>
																<restriction base="mpeg7:termReferenceType"/>
															</simpleType>
														</union>
													</simpleType>
												</attribute>
											</extension>
										</complexContent>
									</complexType>
								</element>
								<element name="Pixel" minOccurs="0">
									<complexType>
										<attribute name="resolution" type="nonNegativeInteger" use="optional"/>
										<attribute name="aspectRatio" type="mpeg7:nonNegativeReal" use="optional"/>
										<attribute name="bitsPer" type="nonNegativeInteger" use="optional"/>
									</complexType>
								</element>
								<element name="Frame" minOccurs="0">
									<complexType>
										<attribute name="height" type="nonNegativeInteger" use="optional"/>
										<attribute name="width" type="nonNegativeInteger" use="optional"/>
										<attribute name="aspectRatio" type="mpeg7:nonNegativeReal" use="optional"/>
										<attribute name="rate" type="mpeg7:nonNegativeReal" use="optional"/>
										<attribute name="structure" use="optional">
											<simpleType>
												<restriction base="NMTOKEN">
													<enumeration value="progressive"/>
													<enumeration value="interlaced"/>
												</restriction>
											</simpleType>
										</attribute>
									</complexType>
								</element>
								<!-- ColorSampling element excluded 
								<element name="ColorSampling" type="mpeg7:ColorSamplingType" minOccurs="0"/>
								-->
							</sequence>
						</complexType>
					</element>
					<element name="AudioCoding" minOccurs="0">
						<complexType>
							<sequence>
								<element name="Format" type="mpeg7:ControlledTermUseType" minOccurs="0"/>
								<element name="AudioChannels" minOccurs="0">
									<complexType>
										<simpleContent>
											<extension base="nonNegativeInteger">
												<attribute name="front" type="nonNegativeInteger" use="optional"/>
												<attribute name="side" type="nonNegativeInteger" use="optional"/>
												<attribute name="rear" type="nonNegativeInteger" use="optional"/>
												<attribute name="lfe" type="nonNegativeInteger" use="optional"/>
												<attribute name="track" type="nonNegativeInteger" use="optional"/>
											</extension>
										</simpleContent>
									</complexType>
								</element>
								<element name="Sample" minOccurs="0">
									<complexType>
										<attribute name="rate" type="mpeg7:nonNegativeReal" use="optional"/>
										<attribute name="bitsPer" type="nonNegativeInteger" use="optional"/>
									</complexType>
								</element>
								<element name="Emphasis" minOccurs="0">
									<simpleType>
										<union>
											<simpleType>
												<restriction base="NMTOKEN">
													<enumeration value="none"/>
													<enumeration value="50over15Microseconds"/>
													<enumeration value="ccittJ17"/>
												</restriction>
											</simpleType>
											<simpleType>
												<restriction base="mpeg7:termReferenceType"/>
											</simpleType>
										</union>
									</simpleType>
								</element>
								<element name="Presentation" type="mpeg7:ControlledTermUseType" minOccurs="0"/>
							</sequence>
						</complexType>
					</element>
					<element name="SceneCodingFormat" type="mpeg7:ControlledTermUseType" minOccurs="0"/>
					<element name="GraphicsCodingFormat" type="mpeg7:ControlledTermUseType" minOccurs="0"/>
					<element name="OtherCodingFormat" type="mpeg7:ControlledTermUseType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- ########################################################### -->
	<!--  Tools from ISO/IEC 15938-5 (MDS) Clause 8                                                -->
	<!-- ########################################################### -->
	
	<!-- Definition of Rating datatype -->
	<complexType name="RatingType">
		<sequence>
			<element name="RatingValue" type="float"/>
			<element name="RatingScheme">
				<complexType>
					<complexContent>
						<extension base="mpeg7:TermUseType">
							<attribute name="best" type="float" use="optional"/>
							<attribute name="worst" type="float" use="optional"/>
							<attribute name="style" use="required">
								<simpleType>
									<restriction base="NMTOKEN">
										<enumeration value="higherBetter"/>
										<enumeration value="lowerBetter"/>
									</restriction>
								</simpleType>
							</attribute>
						</extension>
					</complexContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<!-- ########################################################### -->
	<!--  Tools from ISO/IEC 15938-5 (MDS) Clause 9                                                -->
	<!-- ########################################################### -->
	
	<!-- Definition of Title datatype  -->
	<complexType name="TitleType">
		<simpleContent>
			<extension base="mpeg7:TextualBaseType">
				<attribute name="type" use="optional" default="main">
					<simpleType>
						<union>
							<simpleType>
								<restriction base="NMTOKEN">
									<enumeration value="main"/>
									<enumeration value="secondary"/>
									<enumeration value="alternative"/>
									<enumeration value="original"/>
									<enumeration value="popular"/>
									<enumeration value="opusNumber"/>
									<enumeration value="songTitle"/>
									<enumeration value="albumTitle"/>
									<enumeration value="seriesTitle"/>
									<enumeration value="episodeTitle"/>
								</restriction>
							</simpleType>
							<simpleType>
								<restriction base="mpeg7:termReferenceType"/>
							</simpleType>
						</union>
					</simpleType>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	
	<!-- Definition of TitleMedia datatype -->
	<complexType name="TitleMediaType">
		<sequence>
			<element name="TitleImage" type="mpeg7:ImageLocatorType" minOccurs="0"/>
			<element name="TitleVideo" type="mpeg7:TemporalSegmentLocatorType" minOccurs="0"/>
			<element name="TitleAudio" type="mpeg7:TemporalSegmentLocatorType" minOccurs="0"/>
		</sequence>
	</complexType>
	
	<!-- Definition of Creator datatype -->
	<complexType name="CreatorType">
		<complexContent>
			<extension base="mpeg7:MediaAgentType">
				<sequence>
					<element name="Character" type="mpeg7:PersonNameType" minOccurs="0" maxOccurs="unbounded"/>
					<!-- Instrument element excluded 
					<element name="Instrument" type="mpeg7:CreationToolType" minOccurs="0" maxOccurs="unbounded"/>
					-->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of MediaAgent datatype  -->
	<complexType name="MediaAgentType">
		<sequence>
			<element name="Role" type="mpeg7:ControlledTermUseType"/>
			<choice>
				<element name="Agent" type="mpeg7:AgentType"/>
				<element name="AgentRef" type="mpeg7:ReferenceType"/>
			</choice>
		</sequence>
	</complexType>
	
	<!-- Definition of ExtendedLanguage datatype -->
	<complexType name="ExtendedLanguageType">
		<simpleContent>
			<extension base="language">
				<attribute name="type" use="optional" default="original">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="original"/>
							<enumeration value="dubbed"/>
							<enumeration value="background"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="supplemental" type="boolean" use="optional" default="false"/>
			</extension>
		</simpleContent>
	</complexType>
	
	<!-- Definition of ParentalGuidance datatype -->
	<complexType name="ParentalGuidanceType">
		<sequence>
			<choice>
				<element name="ParentalRating" type="mpeg7:ControlledTermUseType"/>
				<element name="MinimumAge" type="nonNegativeInteger"/>
			</choice>
			<element name="Region" type="mpeg7:regionCode" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
	<!-- ########################################################### -->
	<!--  Tools from ISO/IEC 15938-5 (MDS) Clause 15                                                -->
	<!-- ########################################################### -->
	
	<!-- Definition of PreferenceCondition D -->
	<complexType name="PreferenceConditionType">
		<complexContent>
			<extension base="mpeg7:DType">
				<sequence>
					<element name="Place" type="mpeg7:PlaceType" minOccurs="0"/>
					<element name="Time" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:TimeType">
									<attribute name="recurrence" use="optional" default="none">
										<simpleType>
											<union>
												<simpleType>
													<restriction base="NMTOKEN">
														<enumeration value="none"/>
														<enumeration value="daily"/>
														<enumeration value="weekly"/>
														<enumeration value="monthly"/>
														<enumeration value="annually"/>
													</restriction>
												</simpleType>
												<simpleType>
													<restriction base="mpeg7:termReferenceType"/>
												</simpleType>
											</union>
										</simpleType>
									</attribute>
									<attribute name="numOfRecurrences" type="positiveInteger" use="optional"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of userChoice datatype -->
	<simpleType name="userChoiceType">
		<restriction base="NMTOKEN">
			<enumeration value="true"/>
			<enumeration value="false"/>
			<enumeration value="user"/>
		</restriction>
	</simpleType>
	
	<!-- Definition of preferenceValue datatype -->
	<simpleType name="preferenceValueType">
		<restriction base="integer">
			<minInclusive value="-100"/>
			<maxInclusive value="100"/>
		</restriction>
	</simpleType>
	
	<!-- Definition of UserPreferences DS -->
	<complexType name="UserPreferencesType">
		<complexContent>
			<extension base="mpeg7:DSType">
				<sequence>
					<element name="UserIdentifier" type="mpeg7:UserIdentifierType" minOccurs="0"/>
					<element name="FilteringAndSearchPreferences" type="mpeg7:FilteringAndSearchPreferencesType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="BrowsingPreferences" type="mpeg7:BrowsingPreferencesType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="allowAutomaticUpdate" type="mpeg7:userChoiceType" use="optional" default="false"/>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of UserIdentifier datatype -->
	<complexType name="UserIdentifierType">
		<sequence>
			<element name="Name" type="mpeg7:TextualType"/>
		</sequence>
		<attribute name="protected" type="mpeg7:userChoiceType" use="optional" default="true"/>
	</complexType>
	
	<!-- Definition of FilteringAndSearchPreferences DS -->
	<complexType name="FilteringAndSearchPreferencesType">
		<complexContent>
			<extension base="mpeg7:DSType">
				<sequence>
					<element name="CreationPreferences" type="mpeg7:CreationPreferencesType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="ClassificationPreferences" type="mpeg7:ClassificationPreferencesType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="SourcePreferences" type="mpeg7:SourcePreferencesType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="PreferenceCondition" type="mpeg7:PreferenceConditionType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="FilteringAndSearchPreferences" type="mpeg7:FilteringAndSearchPreferencesType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="protected" type="mpeg7:userChoiceType" use="optional" default="true"/>
				<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of CreationPreferences DS -->
	<complexType name="CreationPreferencesType">
		<complexContent>
			<extension base="mpeg7:DSType">
				<sequence>
					<element name="Title" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<simpleContent>
								<extension base="mpeg7:TitleType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="Creator" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:CreatorType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="Keyword" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<simpleContent>
								<extension base="mpeg7:TextualType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="Location" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:PlaceType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="DatePeriod" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:TimeType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="Tool" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:TermUseType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
				<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of ClassificationPreferences DS -->
	<complexType name="ClassificationPreferencesType">
		<complexContent>
			<extension base="mpeg7:DSType">
				<sequence>
					<element name="Country" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<simpleContent>
								<extension base="mpeg7:countryCode">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="DatePeriod" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:TimeType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="LanguageFormat" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<simpleContent>
								<extension base="mpeg7:auxiliaryLanguageType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="Language" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<simpleContent>
								<extension base="mpeg7:ExtendedLanguageType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="CaptionLanguage" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<simpleContent>
								<extension base="language">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="Form" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:TermUseType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="Genre" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:TermUseType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="Subject" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<simpleContent>
								<extension base="mpeg7:TextualType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="Review" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<sequence>
								<element name="Rating" type="mpeg7:RatingType" minOccurs="0"/>
								<element name="Reviewer" type="mpeg7:AgentType" minOccurs="0"/>
							</sequence>
							<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
						</complexType>
					</element>
					<element name="ParentalGuidance" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:ParentalGuidanceType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
				<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of auxiliaryLanguage datatype -->
	<simpleType name="auxiliaryLanguageType">
		<union>
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="dubbed"/>
					<enumeration value="closedCaptions"/>
					<enumeration value="subTitles"/>
					<enumeration value="signLanguage"/>
					<enumeration value="audioDescription"/>
				</restriction>
			</simpleType>
			<simpleType>
				<restriction base="mpeg7:termReferenceType"/>
			</simpleType>
		</union>
	</simpleType>
	
	<!-- Definition of SourcePreferences DS -->
	<complexType name="SourcePreferencesType">
		<complexContent>
			<extension base="mpeg7:DSType">
				<sequence>
					<element name="DisseminationFormat" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:TermUseType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="DisseminationSource" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<simpleContent>
								<extension base="mpeg7:TextualType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="DisseminationLocation" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:PlaceType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="DisseminationDate" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:TimeType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="Disseminator" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:MediaAgentType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="MediaFormat" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:MediaFormatType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
				<attribute name="noRepeat" type="boolean" use="optional"/>
				<attribute name="noEncryption" type="boolean" use="optional"/>
				<attribute name="noPayPerUse" type="boolean" use="optional"/>
				<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of BrowsingPreferences DS -->
	<complexType name="BrowsingPreferencesType">
		<complexContent>
			<extension base="mpeg7:DSType">
				<sequence>
					<element name="SummaryPreferences" type="mpeg7:SummaryPreferencesType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="PreferenceCondition" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="mpeg7:PreferenceConditionType">
									<sequence>
										<element name="Genre" type="mpeg7:TermUseType" minOccurs="0"/>
									</sequence>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
				<attribute name="protected" type="mpeg7:userChoiceType" use="optional" default="true"/>
				<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of SummaryPreferences DS -->
	<complexType name="SummaryPreferencesType">
		<complexContent>
			<extension base="mpeg7:DSType">
				<sequence>
					<element name="SummaryType" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<simpleContent>
								<extension base="mpeg7:summaryComponentType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="SummaryTheme" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<simpleContent>
								<extension base="mpeg7:TextualType">
									<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="SummaryDuration" type="mpeg7:mediaDurationType" minOccurs="0"/>
					<element name="MinSummaryDuration" type="mpeg7:mediaDurationType" minOccurs="0"/>
					<element name="MaxSummaryDuration" type="mpeg7:mediaDurationType" minOccurs="0"/>
					<element name="NumOfKeyFrames" type="positiveInteger" minOccurs="0"/>
					<element name="MinNumOfKeyFrames" type="positiveInteger" minOccurs="0"/>
					<element name="MaxNumOfKeyFrames" type="positiveInteger" minOccurs="0"/>
					<element name="NumOfChars" type="positiveInteger" minOccurs="0"/>
					<element name="MinNumOfChars" type="positiveInteger" minOccurs="0"/>
					<element name="MaxNumOfChars" type="positiveInteger" minOccurs="0"/>
				</sequence>
				<attribute name="preferenceValue" type="mpeg7:preferenceValueType" use="optional" default="10"/>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of summaryComponent datatype -->
	<simpleType name="summaryComponentType">
		<union>
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="audio"/>
					<enumeration value="visual"/>
					<enumeration value="audioVisual"/>
					<enumeration value="textual"/>
					<enumeration value="keyAudioClips"/>
					<enumeration value="keyVideoClips"/>
					<enumeration value="keyAudioVisualClips"/>
					<enumeration value="keyFrames"/>
					<enumeration value="keySounds"/>
					<enumeration value="keyThemes"/>
				</restriction>
			</simpleType>
			<simpleType>
				<restriction base="mpeg7:termReferenceType"/>
			</simpleType>
		</union>
	</simpleType>
	
	<!-- Definition of UsageHistory DS -->
	<complexType name="UsageHistoryType">
		<complexContent>
			<extension base="mpeg7:DSType">
				<sequence>
					<element name="UserIdentifier" type="mpeg7:UserIdentifierType" minOccurs="0"/>
					<element name="UserActionHistory" type="mpeg7:UserActionHistoryType" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="allowCollection" type="mpeg7:userChoiceType" use="optional" default="false"/>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of UserActionHistory DS -->
	<complexType name="UserActionHistoryType">
		<complexContent>
			<extension base="mpeg7:DSType">
				<sequence>
					<element name="ObservationPeriod" type="mpeg7:TimeType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="UserActionList" type="mpeg7:UserActionListType" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="protected" type="mpeg7:userChoiceType" use="optional" default="true"/>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of UserActionList DS -->
	<complexType name="UserActionListType">
		<complexContent>
			<extension base="mpeg7:DSType">
				<sequence minOccurs="0">
					<element name="ActionType" type="mpeg7:TermUseType"/>
					<element name="UserAction" type="mpeg7:UserActionType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="numOfInstances" type="nonNegativeInteger" use="optional"/>
				<attribute name="totalDuration" type="mpeg7:durationType" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Definition of UserAction DS -->
	<complexType name="UserActionType">
		<complexContent>
			<extension base="mpeg7:DSType">
				<sequence>
					<element name="ActionTime" minOccurs="0">
						<complexType>
							<sequence>
								<element name="MediaTime" type="mpeg7:MediaTimeType" minOccurs="0"/>
								<element name="GeneralTime" type="mpeg7:TimeType" minOccurs="0"/>
							</sequence>
						</complexType>
					</element>
					<element name="ProgramIdentifier" type="mpeg7:UniqueIDType"/>
					<element name="ActionDataItem" type="mpeg7:ReferenceType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
</schema>
